/* hide scrollbar but allow scrolling */
.noscrollbarshowing {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.noscrollbarshowing::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

iframe.floatingchat-container {
    margin-left: 10px;
    margin-top: -5px;
}

.Messaggio[contenteditable]:empty::before {
    content: "Scrivi qualcosa...";   
}

.placeholdercolor::placeholder, .placeholdercolor[contenteditable]:empty::before {    
    color: grey;
}
